$color1: white;
$color2: black;

@font-face {
    font-family: crisis;
    src:url(fonts/TS\ Block\ Bold.ttf)
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: rgb(0, 0, 0);
    border-bottom: 1px solid rgb(29, 29, 29);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-height: 80px ;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-transform: uppercase; 
    padding: 5px;
    align-items: center;
}

.nav-link{
    color: white;
    align-items: center;
    text-decoration: none;
    padding-right: 65px;
}

.nav-link:hover{
    color: grey;
    text-shadow: 0 0 8px white;
}

.logo{
    height: 60px;
}



@media (max-width:886px){

    header{
        flex-direction: column;
    }

    nav{
        padding: 10px 0px;
    }
}

@media (min-width:886px) {

    .sec-comocomprar{
        display: flex;
        align-items: center;
        gap: 40px;
    }
}

@media (max-width:763px){
    .nav-link{
        font-size:12px ;
    }
}

@media only screen and (max-width:600px){
    .nav-link{
        font-size: 7px;
    }

    footer{
        display: flex;
        flex-direction:column ;
        justify-content: center;
        align-items: center;
        padding-left: 65px;
    }
    .footer-list{
        font-size: 9px;
        flex-basis: 30px;
    }
    #redes{
        flex-basis: 70px;
    }

    #redes a{
        padding-right: 80px;
    }

    .micorreo{
        padding-right: 50px;
        padding: 50px;
    }
}

body{
background-color: black;
}

main{
    background-color: black;
    height:calc(100vh - 90px);
    padding-top: 20px ;
    flex-direction: column;
    justify-content:flex-start;
    align-items: center;
}

.banner{
    background-image: url(img/parking-space-gc48195519_640.jpg);
    background-color: black;
    height: 30vh;
    width: 96%;
    background-size: cover;
    background-position: center;
    border: solid 2px rgb(128, 128, 128);
    display: flex;
    justify-content: center;
    align-items: center;
}

.slogan{
    color:rgb(255, 255, 255);
    font-size: 50px;
    text-transform: uppercase;
    text-align: center;
    font-family: crisis;
    text-shadow: 0 0 10px rgb(255, 255, 255);
}

@media (min-width:1407px){
    .slogan{
        font-size: 74px;
    }
}

.carousel{
    width: 294px;
    border: 2px solid grey;
}

.sec-comocomprar{
    min-width: 70%;
    margin: 80px;
    padding: 2em;
    color: white;
    background-color: #0f0f0f;
    box-shadow: 0 0 20px 0 rgba(255, 255, 255, 0.336) ;
    text-align: center;

    h3{
        padding-bottom: 30px;
        text-transform: uppercase;
    }

    img{
        height: 90%;
        width: 70%;
    }
}

footer{
    background-color: rgb(8, 8, 8);
    display: flex;
    justify-content: space-around;
    color: white;
    padding-top: 30px;
}

.menu{
    display: flex;
    flex-direction: column;
    padding-right: 105px;
    gap: 5px;
}

#menu-titulo{
    font-weight: bold;

}

.footer-list{
    list-style: none;
    text-align: center;
}

.footer-list a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.808);
    text-transform: uppercase;
}

.footer-list a:hover{
    color: rgb(119, 119, 119);
}

#redes{
    display: flex;
    align-items: center;
    font-size: 20px;
}

.micorreo{
    font-size: 11px;
    padding-left: 8px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight:100;
}

#redes a{
    text-decoration: none;
    color: white;
    font-size: 10px;
    padding-left: 8px;
    font-family:Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    font-weight: lighter;
}

/* seccion:productos */

.cont{
    width: 100%;
    min-height: 76vh;
    background-color: black;
    display: grid;
    grid-template-columns:repeat(1, 290px) ;
    grid-template-rows: repeat(4, 386px) ;
    padding: 40px;
    grid-gap: 35px;
    justify-content: center;
}

.item{
    border: 3px solid grey;
    background-size: cover;
    background-position: center;
}

.item1{
    background-image: url(img/remera\ 1.png);
}

.item2{
    background-image: url(img/remera\ 2.png);
}

.item3{
    background-image: url(img/remera\ 3.png);
}

.item4{
    background-image: url(img/remera\ 4.png);
}

@media only screen and (min-width:720px) {
    .cont{
        grid-template-columns: 290px 290px;
        height: 100vh;
    }
}

@media only screen and (min-width:1100px) {
    .cont{
        grid-column-gap:110px;
    }
} 

@media only screen and (min-width:1350px) {
    .cont{
        grid-template-columns:repeat(4, 290px) ;
        grid-column-gap: 60px;
        height: 78vh;
    }
}

//seccion contacto

.main-contacto{
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    padding: 2em;

    .contacto{
        text-align: center;
        font-size: 40px;
        color: white;
        padding-top: 10px;
        padding-bottom: 40px;
    }

    .encuadre{
        color: white;
        box-shadow: 0 0 20px 0 rgba(255, 255, 255, 0.336) ;
        padding: 2em ;
        background-color: #0f0f0f;
    }

    .encuadre form {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .encuadre form .block {
        grid-column: 1 / 3 ;
    }

    .encuadre form p {
        margin: 0;
        padding: 1em;
    }

    .encuadre form button,
    .encuadre form input,
    .encuadre form textarea {
        width: 100% ;
        padding: .7em;
        border: none;
        background: none;
        outline: 0;
        color: white;
        border-bottom: 1px solid grey;
    }

    .encuadre form button {
        background: grey;
        border: 0;
        text-transform: uppercase;
        padding: 1em;
    }

    .encuadre form button:hover,
    .encuadre form button:focus {
        background-color: rgba(128, 128, 128, 0.555);
    }
}


