@font-face {
  font-family: crisis;
  src: url(../fonts/TS\ Block\ Bold.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  background-color: black;
  border-bottom: 1px solid rgb(29, 29, 29);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-transform: uppercase;
  padding: 5px 30px 5px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-toggler{
  margin-right: 60px;
}

.nav-link {
  color: white !important;
  padding-right: 20px !important;
  padding-top: 14px !important;
}

.nav-link:hover {
  color: grey !important;
  text-shadow: 0 0 8px white;
}

.navbar-nav {
  text-align: center;
  padding-block: 20px;
  padding-left: 35px;
  background-color: black;
}

.icon-cart{
  width: 37px;
  height: 37px;
  stroke: white;
}

.icon-cart:hover{
  cursor: pointer;
}

.container-icon{
  position: relative;
}

.count-products{
  position: absolute;
  top: 50%;
  right: 1;
  background-color: rgb(255, 255, 255);
  color: black;
  width: 18px;
  height:18px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 11px;
}

.container-cart-products{
  font-size: 11px;
  position: absolute;
  top: 80px;
  right: 0;
  background-color: rgba(14, 13, 13, 0.986);
  width: 400px;
  z-index: 1;
  font-family:Arial, Helvetica, sans-serif;
  box-shadow: 0 8px 10px rgb(29, 29, 29);
  border-radius: 10px;
}

.cart-product{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  border-bottom: 1px solid rgb(73, 73, 73);
}

.info-cart-product{
  display: flex;
  justify-content: space-between;
  align-content: center;
  flex: 0.9;
  padding-top: 15px;
}

.titulo-producto-carrito{
  font-size: 12px;
}

.precio-producto-carrito{
  font-weight:bold;
  font-size: 13px;
  margin-left: 20px;
}

.cantidad-producto-carrito{
  font-size: 12px;
}

.cart-total{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  gap: 15px;
}

.cart-total h3{
  font-size: 12px;
  font-weight: 300;
}

.total-pagar{
  font-size: 14px;
  font-weight: 700;
  padding-bottom: 10px;
}

.icon-close{
  width: 25px;
  height: 25px;
}

.icon-close:hover{
  stroke: grey;
  cursor: pointer;
}

.hidden-cart{
  display: none ;
}

.cart-empty{
  color: rgb(197, 197, 197);
  padding: 25px 0 10px 0;
  text-align: center;
}

@media (max-width: 991px){
  .container-icon{
    bottom: 53px;
  }

  .navbar{
    padding-top: 15px;
    height: 97px;
  }
}

@media (min-width: 960px) {
  .nav-link {
    padding-right: 45px !important;
  }
  .sec-comocomprar {
    display: flex;
    align-items: center;
    gap: 40px;
  }
}

@media only screen and (max-width: 620px) {
  footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 65px;
  }
  .footer-list {
    font-size: 16px;
    flex-basis: 30px;
  }
  #redes {
    flex-basis: 70px;
  }
  #redes a {
    padding-right: 80px;
  }
  .micorreo {
    padding-right: 50px;
    padding: 50px;
  }
}
body {
  background-color: black;
  color: white;
}

main {
  background-color: black;
  height: auto;
  padding-top: 20px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.banner {
  background-image: url(../img/parking-space-gc48195519_640.jpg);
  background-color: black;
  height: 30vh;
  width: 96%;
  background-size: cover;
  background-position: center;
  border: solid 2px rgb(128, 128, 128);
  display: flex;
  justify-content: center;
  align-items: center;
}

.slogan {
  color: rgb(255, 255, 255);
  font-size: 50px;
  text-transform: uppercase;
  text-align: center;
  font-family: crisis;
  text-shadow: 0 0 10px rgb(255, 255, 255);
}

@media (min-width: 1407px) {
  .nav-link {
    padding-right: 100px !important;
  }
  .slogan {
    font-size: 74px;
  }
}
.carousel {
  width: 337px;
  border: 2px solid grey;
}

.sec-comocomprar {
  min-width: 70%;
  margin: 80px;
  padding: 2em;
  color: white;
  background-color: #0f0f0f;
  box-shadow: 0 0 20px 0 rgb(46, 79, 95);
  text-align: center;
}
.sec-comocomprar h3 {
  padding-bottom: 30px;
  text-transform: uppercase;
}
.sec-comocomprar p {
  color: rgb(184, 184, 184);
}
.sec-comocomprar img {
  height: 90%;
  width: 70%;
}

footer {
  background-color: rgb(8, 8, 8);
  display: flex;
  justify-content: space-around;
  color: white;
  padding-top: 30px;
}

.menu {
  display: flex;
  flex-direction: column;
  padding-right: 110px;
  gap: 5px;
}

#menu-titulo {
  font-weight: bold;
}

.footer-list {
  list-style: none;
  text-align: center;
}

.footer-list a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.808);
  text-transform: uppercase;
}

.footer-list a:hover {
  color: rgb(119, 119, 119);
}

#redes {
  display: flex;
  align-items: center;
  font-size: 20px;
}

.micorreo {
  font-size: 12px;
  padding-left: 7px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100;
}

#redes a {
  text-decoration: none;
  color: white;
  font-size: 10px;
  padding-left: 7px;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  font-weight: lighter;
}

/* seccion:productos */

.products{
  max-width: 100%;
}

.container-items{
  padding: 80px;
  display: grid;
  grid-template-columns: repeat(4, 333px );
  justify-content: center;
  gap: 80px;
}

.item {
  border-radius: 10px;
}

.item:hover{
  box-shadow: 0 10px 20px rgb(41, 41, 41) ;
}

.item img{
  border-radius: 10px 10px 0 0;
  transition: all .5s;
}

.item figure{
  overflow: hidden;
}

.item:hover img {
  transform: scale(1.1);
}

.info-product{
  padding: 15px 30px;
  line-height: 2;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.info-product h2{
  color: white;
  font-family:Arial, Helvetica, sans-serif;
  font-size: 15px;
  text-transform: uppercase;
}

.price{
  color: white;
  font-size: 18px;
  font-weight: 500;
}

.info-product button{
  border: none;
  background: none;
  background-color: rgba(255, 255, 255, 0.13);
  color: rgba(255, 255, 255, 0.801);
  padding: 15px 10px;
  cursor: pointer;
}

@media (max-width: 1650px){
  .container-items{
    display: grid;
    grid-template-columns: repeat(3, 333px);
  }
}

@media (max-width: 1270px){
  .container-items{
    display: grid;
    grid-template-columns: repeat(2, 333px);
  }
}

@media (max-width: 900px){
  .container-items{
    display: grid;
    grid-template-columns: repeat(1, 0.8fr);
  }
  .item img{
    width: 100%;
  }
}

/* seccion:guia de talles */


.titulo-talles {
  color: white;
  text-align: center;
  margin: 90px;
  font-family: "Times New Roman", Times, serif;
  text-transform: uppercase;
  font-size: 30px;
}

.contenido-talles {
  width: 100%;
  min-height: 76vh;
  padding: 40px;
  display: grid;
  grid-template-columns: repeat(1, 438px);
  grid-template-rows: repeat(2, 500px);
  justify-content: center;
  grid-gap: 70px;
}
.contenido-talles img {
  box-shadow: 0 0 20px 0 rgba(255, 255, 255, 0.336);
  height: 100%;
  width: 100%;
}

.p-talles {
  color: rgb(180, 180, 180);
  text-align: center;
  margin-bottom: 90px;
  font-size: small;
}

@media only screen and (min-width: 1100px) {
  .titulo-talles {
    text-align: start;
    font-size: 40px;
    padding-left: 80px;
    margin-top: 120px;
  }
  .contenido-talles {
    display: grid;
    grid-template-columns: repeat(1, 613px);
    grid-template-rows: repeat(2, 700px);
  }
}
@media only screen and (max-width: 700px) {
  .contenido-talles {
    display: grid;
    grid-template-columns: repeat(1, 350px);
    grid-template-rows: repeat(2, auto);
  }
}

/* seccion nostros */

.main-nosotros {
  height: auto;
}
.main-nosotros h1 {
  font-family: crisis;
  color: white;
  font-size: 50px;
  text-align: center;
  padding: 60px;
}
.main-nosotros .sec-nosotros div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-nosotros .sec-nosotros div img {
  box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.336);
  width: 80%;
  height: auto;
}
.main-nosotros .sec-nosotros div p {
  color: rgb(192, 192, 192);
  padding: 40px;
  text-align: center;
  font-size: 14px;
  padding-block: 80px;
}

@media only screen and (min-width: 900px) {
  .main-nosotros h1 {
    font-size: 55px;
  }
  .main-nosotros .sec-nosotros .div-1 {
    display: flex;
    flex-direction: row-reverse;
  }
  .main-nosotros .sec-nosotros .div-2 {
    display: flex;
    flex-direction: column-reverse;
  }
  .main-nosotros .sec-nosotros .div-2 img {
    width: 600px;
  }
  .main-nosotros .sec-nosotros .div-3 {
    padding: 60px;
    display: flex;
    flex-direction: row;
  }
  .main-nosotros .sec-nosotros div {
    padding: 20px;
  }
  .main-nosotros .sec-nosotros div img {
    width: 50%;
    height: auto;
  }
}

/* seccion contacto */

.main-contacto {
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 70px;
  padding: 2em;
}
.main-contacto .contacto {
  text-align: center;
  font-size: 40px;
  color: white;
  padding-bottom: 40px;
}
.main-contacto .encuadre {
  color: white;
  box-shadow: 0 0 20px 0 rgb(46, 79, 95);
  padding: 2em;
  background-color: #0f0f0f;
}
.main-contacto .encuadre form {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.main-contacto .encuadre form .block {
  grid-column: 1/3;
}
.main-contacto .encuadre form p {
  margin: 0;
  padding: 1em;
}
.main-contacto .encuadre form button,
.main-contacto .encuadre form input,
.main-contacto .encuadre form textarea {
  width: 100%;
  padding: 0.7em;
  border: none;
  background: none;
  outline: 0;
  color: white;
  border-bottom: 1px solid rgb(55, 86, 104);
}
.main-contacto .encuadre form button {
  background: rgb(55, 86, 104);
  border: 0;
  text-transform: uppercase;
  padding: 1em;
}
.main-contacto .encuadre form button:hover,
.main-contacto .encuadre form button:focus {
  background-color: rgb(46, 60, 68);
}

@media only screen and (max-width: 435px) {
  .main-contacto label {
    font-size: 10px;
  }
}

/*# sourceMappingURL=estilos.css.map */
